

/*! HTML5 Estrugido, uma versão light do HTML5 Boilerplate v7.2.0
    https://html5boilerplate.com
*/

/* main.css 2.0.0 | Licença MIT | https://github.com/h5bp/main.css#readme */
/*
 * O CSS que se segue é uma compilação de investigação sobre estilos que
 * funcionam em vários browsers. Cada parte está documentada com links para a
 * referência original. Muitos agradecimentos a Nicolas Gallagher,
 * Jonathan Neal, Kroc Camen, à comunidade e à equipa do H5Boilerplate.
 */

/* ==========================================================================
   Estilos base: defaults com atitude.
   ========================================================================== */









         #gradientContainer { /*ChatGPT*/
           position: fixed;
           top: 0;
           left: 0;
           width: 2000px;
           height: 2000px;
           pointer-events: none; /* Ensure the container doesn't block mouse interactions with underlying elements */
           z-index: -1;
         }

         .gradientContainer{
           background: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, transparent 70%);

         }
         .gradientContainerDark {
            background: radial-gradient(circle, rgba(0, 0, 0, 0.5) 0%, transparent 70%);
         }




/*LETRA G A RODAR.*/

.letter-g {
  display: inline-block;
  animation: rotate 900s linear infinite;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.letter-g2 {
    animation: rotate 400s;
}




html {

  color: #222;
  font-size: 100%;
  line-height: 1.4;

  overflow: hidden;



}







/*Links a ativar e a desativar no topRight*/
/*a.active {text-shadow: 0.6px 0px 0px #7ca8ff, -0.6px 0px 0px #ff7c7c;font-weight: 300;}
a:not(.active):hover {}*/



/*
 * Retiºrar a sombra do texto, quando está selecionado:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Precisamos de anular a sombra, individualmente, para a classe geral
 * (::selection) e para a classe com prefixo do browser (::-moz-selection),
 * como explica este artigo:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Mudar esta cor de fundo de seleção de acordo com o esquema de cores do site.
 */

 ::-moz-selection {
   background: black;
   color: var(--cor-borda);
   text-shadow: none;
   /*color: #0d018c;
   background: none;*/
 }

 h1 a::selection{
   color: white;
 }
 h1 span::selection{
   color: white;
 }

 ::selection {
   background: var(--cor-borda);
   color: black;

    /*text-shadow: red;*/
    /*color: #0d018c;
    background: none;*/
 }

 img::selection {
   background: var(--cor-borda);
   color: var(--cor-borda);

    /*text-shadow: red;*/
    /*color: #0d018c;
    background: none;*/
 }


 p, p:hover{
   cursor: text;

 }



/*
 * Uma hr mais elegante que a default
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Anular a distância entre os elementos audio, canvas, iframes,
 * images, videos e o fundo do elemento que os contêm:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Permitir apenas o redimensionamento vertical das textareas.
 */

textarea {
  resize: vertical;
}


/*Fontes*/
/*FALTA MNETER AQUI AS FONTES EM BOLD PARA PODER APAGAR O LINK DA GOOGLE FONTS DO HTML*/
/*@font-face {
  font-family: 'Inconsolata';
  src: url("../fonts/Inconsolata-Variable.ttf") format("truetype");
}*/
@font-face {
  font-family: 'Inconsolata-ExtraLight';
  src: url("../fonts/Inconsolata-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'Inconsolata-Light';
  src: url("../fonts/Inconsolata-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Inconsolata-Regular';
  src: url("../fonts/Inconsolata-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Inconsolata-Regular';
  src: url("../fonts/Inconsolata-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Inconsolata-Regular';
  src: url("../fonts/Inconsolata-SemiBold.ttf") format("truetype");
  font-weight: 600
  font-style: normal;
}
@font-face {
  font-family: 'Inconsolata-Regular';
  src: url("../fonts/Inconsolata-Bold.ttf") format("truetype");
  font-weight: 700
  font-style: normal;
}
@font-face {
  font-family: 'Inconsolata-Regular';
  src: url("../fonts/Inconsolata-ExtraBold.ttf") format("truetype");
  font-weight: 800
  font-style: normal;
}
@font-face {
  font-family: 'Inconsolata-Black';
  src: url("../fonts/Inconsolata-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;}

@font-face {
  font-family: "M";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/Inconsolata-M.ttf") format("truetype");
}



@font-face {
  font-family: "Rolls";
  font-weight: 300;
  font-style: normal;
  src: url("../RollsFINAL.ttf") format("truetype");
}
@font-face {
  font-family: "Milan";
  font-weight: 300;
  font-style: normal;
  src: url("../milan.otf") format("opentype");
}

.suse-font {
  font-family: "SUSE", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}


/* ==========================================================================
   Colocar aqui os estilos do site
   ========================================================================== */



/*ECRA..............................................*/
#screen{
  /*border: 1px solid #222;*/
  /*height: 100vh;*/
  /*min-height: 100vh;*/
  /*font-family: 'Inconsolata', monospace;*/
  /*font-family: "Source Code Pro", monospace;*/
  font-family: "SUSE", serif;
  font-optical-sizing: auto;
  font-style: normal;


}


svg{
  margin-right: 10px;
}


#leftBar{
  padding: 10px;




}



a{
  /*text-decoration: underline red 0.5px;*/
  color: inherit;
  text-decoration: none;

}



a:visited{/*color: grey;*/}

a:hover{
  text-decoration: underline var(--cor-borda) 0.5px;
  /*text-shadow: 0.6px 0px 0px #7ca8ff, -0.6px 0px 0px #ff7c7c;*/

}

h1{
  font-size: 40px;
  font-weight: 200;
/*  text-decoration: underline red 0.5px;*/
  margin-bottom: 0rem;
}

h2{
  font-size: 31px;
  font-weight: 300;
  /*text-decoration: underline red 0.5px;*/
  margin-top: 2rem;
}

h3{
  font-size: 25px;font-weight: 300; color: var(--cor-borda);
}
  h3:hover{text-decoration: none;cursor:pointer;}

h4{
  font-size: 18px;font-weight: 200; text-transform: uppercase; cursor: default;
}
  h4:hover{text-decoration: none;}

h5{
  font-size: 15px;font-weight: 300;
}
  h5:hover{text-decoration: none;}


  .sub:hover h4 {
    text-decoration: underline;
    text-decoration-color: var(--cor-borda);
  }

  .items a {
    font-weight: 400;
    text-decoration: none;
  }
  .items a::before {
    position: relative;
    content: "";
    display: inline-block;
    width: 3px;  /* Ajusta o tamanho do círculo */
    height: 3px;
    background-color: var(--cor-borda);
    border-radius: 45%;
    margin-bottom: 5px;
    margin-right: 15px;


  }
  .items a:hover::before {
    width: 5px;
    height: 5px;

    margin-bottom: 2px;
    margin-right: 13px;

  }

  .items a:hover {
    font-weight: 400;
    cursor: pointer;
    text-decoration: none;
  }



h1 a:hover{
  cursor: text;
  text-decoration: none;
  /*text-decoration: underline var(--cor-borda) 0.5px;*/
}
h2:hover{
  text-decoration: underline var(--cor-borda) 0.5px;
}






.menu {
  display: none;
            width: 250px;
        }
        .menu > .category {
            padding-top: 10px;
            padding-bottom: 3px;
            padding-left: 10px;
            transition: background 0.1s ease-in-out;
        }
        .submenu {
            max-height: none;
            opacity: 1;
            transform: translateY(0);
        }
        .items {
            max-height: 0;
            overflow: hidden;
            opacity: 0;
            transform: translateY(-10px);
            transition: max-height 0.1s ease-in-out 0.1s, opacity 0.1s ease-in-out 0.1s, transform 0.1s ease-in-out 0.1s;
        }
        .submenu > .sub {
            padding: 12px;
            padding-bottom: 5px;
            transition: background 0.1s ease-in-out;
        }
        .sub:hover .items {
            max-height: 300px;
            opacity: 1;
            transform: translateY(0);
        }
        .items div {
            padding: 7px 0 3px 0;
            margin-bottom: 0;
            transition: background 0.1s ease-in-out;
        }







#screen p{
  /*padding-bottom: 10%;*/
}



/*TOP LEFT..................................*/
#rotate{
  transform: rotate(1deg);
    -ms-transform: rotate(1deg);
    -webkit-transform: rotate(1deg);
     display: inline-block;
   }
/*@keyframes sombra {
  0%   {text-shadow: 0px 0px 0px var(--cor-borda), 0px 0px 0px var(--cor-borda);}
  1%  {text-shadow: 3px 0px 0px var(--cor-borda), -3px 0px 0px var(--cor-borda);}
  2% {text-shadow: 0px 0px 0px var(--cor-borda), 0px 0px 0px var(--cor-borda);}
  5%  {text-shadow: 1px 0px 0px var(--cor-borda), -1px 0px 0px var(--cor-borda);}
  6% {text-shadow: 0px 0px 0px var(--cor-borda), 0px 0px 0px var(--cor-borda);}
  8% {text-shadow: 0px 0px 0px var(--cor-borda), 0px 0px 0px var(--cor-borda);}
}*/

#botaoMais:hover{
  /*text-shadow: 1.4px 0px 0px #7ca8ff, -1.4px 0px 0px #ff7c7c;*/
  /*font-weight: 200;*/
}
h1 #botaoMais{
 /*transition: text-shadow 3s;*/
 animation: sombra 30s infinite;
 animation-delay: 0.5s;
 animation-direction: alternate;
 animation-timing-function:ease-out;
 font-size: 3rem;
 color: var(--cor-borda);
}






















/*TOP RIGHT.................................*/









#listaVideo, #listaImagem, #listaWeb, #listaOutros, #listaAudio, #listaMais{
  display: none;
}


/*bottom right.................................*/


#pan{
  height: 100%;
  max-height: 100%;
  overflow-x: scroll;
}
#pan2{
  height: 100%;
  max-height: 100%;
  overflow-x: scroll;
}






.janela{
  height: 100%;
  width: 100%;

  frameBorder:0;
}

.imagem{
  max-width: 100%;
  max-width: 100%;
  max-height: 100%;
}

.height{
  max-height: 100%;
}

.youtube{
  height:100%;
  width: 100%;

  frameBorder:0;
}

.cemporcento{

  height:100%;
  width: 100%;

}




#fontest, #fontest2{
  background-color: transparent;
  border: 0 solid grey;
  color: #222;
  width: 100%;
  height: 9rem;
  font-size: 9rem;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
}
#fontest{  font-family: Rolls;}
#fontest2{  font-family: Milan;}















.hover-letter {
  font-family: "M";
  font-weight: 400;
  font-style: normal;
}

.hover-letter:hover {
  font-family: "M";
  font-weight: 400;
  font-style: normal;
}



/*BACKGROUND*/
body{
  background-color: white;
  background-image:
  radial-gradient(circle at 20% 40%, color-mix(in srgb, var(--cor-borda) 3%, transparent), transparent),
  radial-gradient(circle at 60% 80%, color-mix(in srgb, var(--cor-borda) 2%, transparent), transparent);

  /*url(../bg.jpg);*/

  background-repeat: no-repeat, no-repeat
  background-position: 0 0, 100% 100%;
  background-size: 100%, 250%;

  animation: animateGradients 25s linear infinite alternate;



}



  @keyframes animateGradients {
    0% {
      background-position: 0% 0%, 100% 100%, center center;
    }
    20% {
      background-position: 30% 10%, 70% 90%, center center;
    }
    40% {
      background-position: 80% 70%, 20% 30%, center center;
    }
    60% {
      background-position: 50% 90%, 50% 10%, center center;
    }
    80% {
      background-position: 90% 30%, 10% 70%, center center;
    }
    100% {
      background-position: 0% 0%, 100% 100%, center center;

    }
}



/*
body {
  background:
    radial-gradient(circle at 20% 40%, #F4FBFF, transparent),
    radial-gradient(circle at 60% 80%, #FFE8E8, transparent);
  background-size: 200% 200%;
  animation: gradient-animation 60s ease-in-out infinite alternate;
}



@keyframes gradient-animation {
  0% {
    background-position: 0% 0%, 100% 100%, center center;
  }
  20% {
    background-position: 30% 10%, 70% 90%, center center;
  }
  40% {
    background-position: 80% 70%, 20% 30%, center center;
  }
  60% {
    background-position: 50% 90%, 50% 10%, center center;
  }
  80% {
    background-position: 90% 30%, 10% 70%, center center;
  }
  100% {
    background-position: 0% 0%, 100% 100%, center center;

  }
}
*/
/*DARK MODE*/

#darkButton:hover{
cursor: pointer;

}
/*.bottomRightDark{
  background-color: rgba(0, 0, 0, 0.28);
}*/




  @keyframes animateGradients {
    0% {
      background-position: 0% 0%, 100% 100%, center center;
    }
    20% {
      background-position: 30% 10%, 70% 90%, center center;
    }
    40% {
      background-position: 80% 70%, 20% 30%, center center;
    }
    60% {
      background-position: 50% 90%, 50% 10%, center center;
    }
    80% {
      background-position: 90% 30%, 10% 70%, center center;
    }
    100% {
      background-position: 0% 0%, 100% 100%, center center;

    }
}


.dark::-moz-selection {
  background: black;
  color: var(--cor-borda);
  text-shadow: none;}

.dark::selection {
  background: black;
  color: var(--cor-borda);
}

.dark img::selection {
  background: var(--cor-borda);
  color: var(--cor-borda);

   /*text-shadow: red;*/
   /*color: #0d018c;
   background: none;*/
}





.espacinho{
  margin-bottom: 1.5rem;
}





#screen{
          display: grid;
          grid-template-columns: 200px 1fr;
          grid-template-rows: auto 1fr auto;
          gap: 10px;
          height: 100vh;
          padding: 10px;
          box-sizing: border-box;
}


#leftBar{
  box-sizing: border-box;
  grid-row: span 3;


}

#portfolioMenu{
  margin-bottom: 20px;
  overflow: scroll;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer 10+ */

}

#titulo {
    display: flex;
    min-height: 50px;
}

#bottomRight{
  grid-row: span 3;
  line-height: 2rem;
  padding-left: 5px;
  overflow: auto;
}

#descricao {
  border-top: solid 1px var(--cor-borda);
    /*display: flex;*/
    font-size: 1.1rem;
    min-height: 40px;
    position: fixed;
    bottom: 10px;
    left: 225px;

    padding: 30px;
    line-height: 1.7rem;
    max-width: 700px;


 backdrop-filter: blur(15px);
 cursor: pointer;

}


.descricao{

     background-color: rgba(255, 255, 255, 0.85);
}



#descricao p:first-child {
color:var(--cor-borda);
margin-bottom: 10px;
font-weight: 500;
font-size: 1.2rem;
font-weight: 500;
/*text-shadow: rgba(255, 255, 255, 0.7) 0px 0px 10px;*/
}



/*DARK MODE*/

.bodyDark {
  background-color: #333;
  color: #F8F8F8;
}
.bodyDark ::selection {
  background: var(--cor-borda);
  color: white;
}
.bodyDark img::selection {
  background: var(--cor-borda);
  color: var(--cor-borda);
}


.botaoMaisDark{

  /*background-color:black;*/
}

.descricaoDark{
  background-color: rgba(1, 1, 1, 0.6);
  color: white;

}

.mozDark{
  background: white;
  color: var(--cor-borda);
}

#darkButton:hover{
cursor: pointer;

}
/*.bottomRightDark{
  background-color: rgba(0, 0, 0, 0.28);
}*/


.backgroundDark{
  background-color: black;
  background-image:
    radial-gradient(circle at 20% 40%, color-mix(in srgb, var(--cor-borda) 10%, transparent), transparent),
    radial-gradient(circle at 60% 80%, color-mix(in srgb, var(--cor-borda) 5%, transparent), transparent);
    /*url(../bg.jpg);*/
  background-repeat: no-repeat, no-repeat;
  background-position: 0 0, 100% 100%;
  background-size: 100%, 250%;

  animation: animateGradients 25s linear infinite alternate;
}

  @keyframes animateGradients {
    0% {
      background-position: 0% 0%, 100% 100%, center center;
    }
    20% {
      background-position: 30% 10%, 70% 90%, center center;
    }
    40% {
      background-position: 80% 70%, 20% 30%, center center;
    }
    60% {
      background-position: 50% 90%, 50% 10%, center center;
    }
    80% {
      background-position: 90% 30%, 10% 70%, center center;
    }
    100% {
      background-position: 0% 0%, 100% 100%, center center;

    }
}









a:hover #coracao {
    color: var(--cor-borda);
  }




  .polaroide {
              width: 165px;
              height: 165px;
              overflow: hidden;
              /*display: flex;
              justify-content: center;
              align-items: center;*/
              border: 10px solid;
              border-color: rgba(255, 255, 255, 1);
              box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
              background: rgba(255, 255, 255, 1);

              transform: rotate(15deg);
              top: 315px;
              left: 750px;
              position: absolute;

               transition: all 0.3s ease-in-out;
          }
          .polaroide:hover {
                      width: 300px;
                      height: 300px;

                      top: 235px;
                      left: 750px;

                      transform: rotate(5deg);

                  }

          .polaroide img {
            transition: all 0.3s ease-in-out;
              width: 100%;
              height: auto;
              object-fit: cover;
              filter: grayscale(90%);
          }.polaroide img:hover {
              filter: grayscale(20%);
          }

          .filtro {
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 1000px;
              background: var(--cor-borda);
              opacity: 0.3;
              pointer-events: none;
          }






/*svg:hover{
  fill:var(--cor-borda);

}*/









/*PÁGINA DOS TRABALHOS inside*/
/*PÁGINAS SEPARADAS DE TRABALHOS*/

.noBG{
background: none;
}

#screenInside{



}
#screenInside a {
display: contents;
}

.insidepage{
max-height: 100%;

}

#embeb{
  max-height: 100vh;
  box-sizing: border-box;
  font-family: Inconsolata;
}


.insidepage img{
  margin-bottom: 2rem;
  margin-right:2rem;
  /*display: block;*/
  max-width: 500px;
}






.insidepage img {
    transition: filter 0.1s ease-in-out;
}

.blurred {
    filter: blur(5px);
}







.insidepage h2{
 /*margin-top: 2rem;*/
 margin-bottom: 1rem;
}

.insidepage p{
  padding-bottom: 1rem;
}


.slideshow {
          position: relative;
          width: 100%;
          max-width: 600px;
          height: 435px;
          overflow: hidden;
          margin-bottom: 2rem;
          display: inline-block;
          cursor: zoom-in;
      }
      .slide {
          position: absolute;
          opacity: 0;
          transition: opacity 0.5s;
          width: 100%;
          /*height: 100%;*/
      }
      .slide:first-child {
          opacity: 1;
      }











/* ==========================================================================
   Classes pre-preparadas para resolver situações comuns
   ========================================================================== */

/*
 * Esconder elementos (incluindo esconder dos leitores do ecrã)
 */

.hidden {
  display: none !important;
}

/*
* Esconder visualmente mas deixar o conteúdo acessível a leitores de ecrã:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. No caso de conteúdos longos, as quebras de linha não são interpretadas
*    como espaços e, em larguras pequenas, o conteúdo é quebrado
*    com uma palavra por linha:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
* Extensão da classe .sr-only para permitir que o elemento
* seja assinalado (focus) quando a página é navegada por teclado:
* https://www.drupal.org/node/897638
*/

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}


/*
* Clearfix: conter os floats
*
* Incluir esta classe em elementos HTML que contenham elementos floated
*
* Para browsers modernos
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   Media Queries para design responsivo. Acrescentar conforme necessário.
   ========================================================================== */

@media only screen and (max-width: 1000px) { /* estilos para ecrãs pequenos */


  #screen{
    zoom:0.8;
}
#screen p, #screen a, h4{
  zoom:1.1;
}


#screen p:hover, #screen a:hover, h4:hover{
  zoom:1.2;
}

#bottomRight{
  height: 100vh;
}


html{

}


  }










}





@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Estilos para impressão e aparelhos com ecrã de alta resolução */
}

/* ==========================================================================
   Estilos para impressão base. Editar e acrescentar conforme necessário.
   ========================================================================== */

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Preto é a cor que imprime mais rápido (-: */
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;

  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    break-inside: avoid;
  }
  /*
   * Regras de impressão para tabelas:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }
  tr,
  img {
    break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    break-after: avoid;
  }
}
