body {
    font-family: Zain;
    font-size: 20px;
    margin: 0;
    padding: 0;
    background: rgb(20,15,17);
    display: flex;
    flex-direction: column;
    align-items: center;

        scrollbar-width: none;


}


hr{
  border: solid 0.1px #444444
;
}

.zain-extralight {
  font-family: "Zain", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.zain-light {
  font-family: "Zain", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.zain-regular {
  font-family: "Zain", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.zain-bold {
  font-family: "Zain", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.zain-extrabold {
  font-family: "Zain", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.zain-black {
  font-family: "Zain", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.zain-light-italic {
  font-family: "Zain", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.zain-regular-italic {
  font-family: "Zain", sans-serif;
  font-weight: 400;
  font-style: italic;
}


#logo1{
  display: flex;
    align-items: center;
    gap: 20px; /* Espaço entre imagem e texto */
    margin: 10px 0;
    position: absolute;
        z-index: 999999999999999;
}
#logo2{
  display: flex;
    align-items: center;
    gap: 20px; /* Espaço entre imagem e texto */
    margin-bottom: 25px;
        z-index: 999999999999999;

justify-content: center
}
.hidden {
    display: none;
}

h1{
  margin: 0;
  text-align: center;
  color: lightgrey;
}

#top img{
  margin: auto;
  width: 26px;
}

#top{
  display: contents;
}

#top p{
text-align: center;
  margin:0;
  color: grey;
}
#top p:last-child{
  color: lightgrey;
}


#ciencia{

  color: lightgrey;
  font-size: 20px;
    font-weight: 300;
    text-align: justify;
        cursor: -webkit-zoom-out;
        max-height: 260px;
        overflow: auto;
            scrollbar-width: none;




}


#last{
  color:grey;

}






#textoC p::first-letter {
  font-size: 45px;
  font-weight: 400;
  color: grey;
  float: left;
  margin-right: 8px;
  line-height: 1;
  cursor:
}
#last p{
  text-align: right;
  font-size: 20px;
  font-weight: 300;
  text-align: right;

}











.container {

    width: 500px;
    padding: 20px;
    max-width: 80%;
}


.item {
  background: rgb(61,61,61);
background: radial-gradient(circle, rgba(61,61,61,1) 0%, rgba(38,38,38,1) 100%);
    margin-bottom: 60px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.image {
    width: 100%;
    height: 400px;
    border-radius: 5px;
    background-size: cover;
    background-position: center;
    cursor: pointer;
}
.icons {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.icon {
  padding-right: 15px;
  padding-top: 10px;
    font-size: 30px;

    cursor: pointer;
    color: lightgrey;
}
.icon:hover {

}

.heart.liked {
    color: pink;
}
.description {
    padding: 0px 0;
    color: #f0f0f0;
    font-size: 22px;
    text-align: left;
    border-radius: 5px;

    min-height: 15px;
}
.description:empty {
    padding: 0;
    min-height: 0;
}


.comment-section {
    display: none;
    margin-top: -19px;
}

.comment-section.active {
    display: block;
}

.comment-section input {

    width: 85%;
    padding: 9px 15px;
    border: none;
    background: grey;
    border-radius: 20px;
    outline: none;
    box-sizing: border-box;

    color: white; /* Cor do texto */
    font-size: 20px;
font-family: Zain;

    margin-top: 32px;


}
.comment-section input::placeholder {
    color: black; /* Cor do placeholder */
}








.deactivate-button {
    background-color: transparent;
    border: none;
    color: grey;
    font-size: 40px;
    cursor: pointer;
    padding-left: 10px;
    position: relative;
    top: 12px;
    left: 10px;
    padding-top:11px;
}

.comment-section input:disabled {
    background: transparent; /* Torna o fundo transparente quando desativado */
}





@keyframes pulse2 {
    0% { opacity: 1; transform: scale(1); }
    50% { opacity: 0.9; transform: scale(1.3); }
    100% { opacity: 1; transform: scale(1); }
}

#mostrar-info {
    animation: pulse2 4s infinite ease-in-out;
    color: white;
    font-size: 15px;
    cursor:pointer;
}


/*ANIMAÇÃO DO LIKE*/
@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(2);
    }
    100% {
        transform: scale(1);
    }
}

.icon.heart.liked {
    animation: pulse2 0.3s ease;
}

@keyframes ober {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}
.icon:hover{
}

.icon.heart {
    transition: transform 0.2s ease;
}


/*BARRA NO TOPO*/
/*#top{
  color :white;

}*/

/*BOTAO DO SCROLL PARA CIMA*/
#scrollToTopBtn {
  display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: transparent;
    color: #c6c6c6;
    border: none;
    border-radius: 40px;
    padding: 10px 15px;
    font-size: 40px;
    cursor: pointer;
    z-index: 2;

    /*box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);*/
}

#scrollToTopBtn:hover {
    filter: brightness(50%);
}











#Info{
  line-height: 25px;
    max-width: fit-content;
        max-height: 95vh;
        overflow: auto;
        scrollbar-width: none;

        margin-bottom: 30px;


}





#Info a {
  color: White;
}
#Info p {
  margin-top: 0;
  margin-bottom:10px;
}
#Info p:first-child {
  margin-top: 15px;0;
}


















.share-buttons-container {
    display: flex;
    gap: 20px; /* Espaçamento entre os ícones */
    position: absolute;
    left: 0;
    top:0;
    background-color: transparent; /* Sem fundo */
    padding: 5px;
    border-radius: 5px;
}

.share-buttons-container a {
    display: inline-block;
    width: 20px; /* Tamanho do ícone */
    height: 20px;
    background-color: transparent; /* Sem fundo */
    text-align: center;
    line-height: 30px;
    font-size: 10px;
    color: white; /* Cor dos ícones */
    text-decoration: none;
    transition: transform 0.2s ease;
}


.share-buttons-container a:hover {
    transform: scale(1.1); /* Efeito de hover */
}
/* Definindo os ícones de partilha com seus respectivos códigos HTML */
.share-buttons-container a.facebook {
  content: url('img/f.svg');

}
.share-buttons-container a.instagram {
content: url('img/i.svg');
}
.share-buttons-container a.whatsapp {
content: url('img/w.svg');
}








/*POPUP PREMIUM*/
        .close-btn {
            position: absolute;
            top: 10px;
            right: 10px;
            background: none;
            border: none;
            color: white;
            font-size: 20px;
            cursor: pointer;
        }
        .premium-popup {
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 300px;
            background: black;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
            text-align: center;
            display: none;
              z-index: 1001;
        }
        .premium-popup img {
            width: 30px;


        }
        .premium-popup h2 {
            margin: 10px 0;
            font-size: 20px;
            color: 	#a67c00;
        }
        .premium-popup p {
            font-size: 14px;
            color: #666;
        }
        .premium-popup button {
            background: 	#a67c00;
            color: white;
            border: none;
            padding: 10px;
            width: 100%;
            border-radius: 5px;
            cursor: pointer;
            margin-top: 10px;
            font-size: 16px;
                margin-bottom: 20px;
        }
        .premium-popup button:first-child {
          margin:0;
            color: white;
            border: none;
            padding: 10px;
            width:25px;

        }

        #vantagens{
          font-size: 20px;
          color: #e5e5e5;

        }


        .premium-popup .close-btn {
          background: none;
            position: absolute;
            top: 10px;
            right: 10px;
            color: #333;
            font-size: 18px;
            cursor: pointer;
        }
        .overlay-block {
                  position: fixed;
                  top: 0;
                  left: 0;
                  width: 100%;
                  height: 100%;
                  background: rgba(0, 0, 0, 0.5);
                  display: none;
                  z-index: 1000;
              }






















              .top-bar {
                height: 65px;

                position: fixed;
                          display: flex;
                          justify-content: space-between;
                          align-items: center;

                          /*padding: 10px 50px;*/

                          width: 100%;
                          z-index: 9999999999999;
                      }

                      .top-bar button {
                        background: none;
                          color: #000;
                          border: none;

                          cursor: pointer;
                          font-weight: bold;
                          border-radius: 5px;


                          margin: 0 20px;
                      }



                      .logo img {
                          height: 35px;
                      }




                      .number{
                        color: white;

                        bottom: 18px;
                        left: 72px;
                        font-size: 18px;
                        rgba(200, 200, 200, 0.2)
                        padding: 5px;
                        border-radius: 20px;
                        opacity: 0.6;

                            position: relative;
                             z-index: 1; /* Mantém atrás do botão */
                      }



                      #hoverButton{
                        padding:20px;
                        z-index: 9999;
                      }

                      #time{
                        position: fixed;
                        width:150px;

                        display: none;


                        border-radius: 20px;
                        padding: 10px;
                        right: 0px;
                        top: 55px;



                        background-color: black;
                          color: lightgrey;
                          font-weight: 300;
                          line-height: 20px;

                      }
                      #time p{
                        margin:10px;


                      }

                    #notificationDiv{
                      width:150px;

                      display: none;
                      position: absolute;

                      border-radius: 20px;
                      padding: 10px;
                      right: 0px;
                      top: 77px;



                      background-color: black;
                        color: lightgrey;
                        font-weight: 300;
                        line-height: 20px;
                        position: fixed;
                    }



                      .popup {
                        background: rgb(31,31,31);
background: linear-gradient(90deg, rgba(31,31,31,1) 0%, rgba(46,46,46,1) 100%);

                        position: absolute;
                        left: 0;
                        top: 0px;

                          width: 460px;
                          padding: 20px;
                          border-radius: 0px 10px 10px 10px;
                          margin: 0 0;

                          line-height: 22px;
                          font-weight: 300;
                          color: #d0d0d0;

                          z-index: 3;



                              position: fixed;


                      }









                      .popup-header {
                        text-align: center;
                        padding: 17px;
                          display: flex;
                          justify-content: space-between;
                          font-size: 18px;
                          padding-bottom: 10px;
                          background-color: #3f3f3f;
                          border-radius: 20px;

                      }

                      .colors {
                          display: flex;
                          align-items: center;
                      }

                      .color-option {
                        width: 18px;
    height: 18px;
    border-radius: 50%;
    margin-left: 9px;
                      }

                      .dark { background: rgb(61,61,61);
background: linear-gradient(90deg, rgba(61,61,61,1) 0%, rgba(33,33,33,1) 100%); }
                      .light { background: rgb(172,172,172);
background: radial-gradient(90deg, rgba(172,172,172,1) 0%, rgba(226,226,226,1) 100%);}
                      .pastel { background: rgb(232,217,231);
background: linear-gradient(90deg, rgba(232,217,231,1) 0%, rgba(248,173,255,1) 100%);
 }






                          .popup-content {
                            margin-top: 30px;
                          }

                      .popup-content p {
                          color: white;
                          font-size: ;
                          margin: 0 0 10px 0;
                      }

                      .science-link {
                          color: white;
                          text-decoration: underline;
                        cursor: -webkit-zoom-in;

                      }







                      .premium-section {
                          text-align: center;
                          margin-top: 20px;
                      }

                      .premium-section img {
                          margin: 0 0 -25px 0;
                      }

                      .premium-title {
                          color: #ffcc00;
                          font-size: ;
                          font-weight: bold;
                          text-decoration: underline;
                      }

                      .offer {
                          font-size: 25px;
                          line-height: 20px;
                          font-weight: 900;
                          color: #fff;
                          display: inline-block;
                          padding: 5px 10px;
                          transform: rotate(-5deg);
                          margin-top: -5px;
                      }
                      .offer-details {
                        font-weight: 200;
                        font-size: 19px;
                      }












                      .extras {
                          line-height: 20px;
                          margin-top: 20px;
                      }

                      .experiment-link {
                          color: white;
                          text-decoration: underline;
                          font-weight: 400;
                      }








                      .footer {
                        line-height: 11px;
                          text-align: left;
                          font-size: ;

                          padding-top: 10px;
                          margin-top: 20px;
                      }

                      .footer p{ margin:0;}

                      .brand {
                          font-size: 20px;

                      }

                      .footer a {
                          color: white;
                          text-decoration: underline;
                      }

                      .blur{
                        filter: blur(2.5px);
}









hr{
  margin: 30px 0;
}









* {
  -webkit-tap-highlight-color: transparent;
}
button, a, img {
  -webkit-tap-highlight-color: transparent;
  user-select: none;
  outline: none;
}















@media only screen and (max-width: 600px) { /* estilos para ecrãs pequenos */


#topNotf{
  display: none;
  filter: opacity(0);
}


#mostrar-info {
margin-top:20px;
}

/*#ciencia{

padding:25px;
width: 90%;
max-width: 900px;
position: absolute;
background-color: grey;
color: black;
font-size: 20px;
  font-weight: 300;

column-count: 1;

top: 400px;

}*/




.item {

padding:0;
background: none;
}

.container{
  width: 90%;
  background: none;
  max-width: 95%;
  padding:0;
  margin: auto;
  text-align: center;
  user-select: none;
}

.icons{
  padding:0  20px;
}
.description{
    padding:0  20px;
}


.comment-section {
    margin-top: 0;
    padding: 0 0px;
}


.image{
  max-height: 50vh;
}


.top-bar {
  height: 35px;
  margin: 0;
        }





        .comment-section input {
            padding: 7px 15px;
            margin-top: 12px;
        }


        .deactivate-button {
            background-color: transparent;
            border: none;
            color: grey;
            font-size: 25px;
            cursor: pointer;
            padding-left: 0;
            position: relative;
            top: 12px;
            left: 10px;
            padding-top:0px;
            float: right;
        }

        .comment-section.active {
            display: block;
            text-align: left;
        }






        img::selection{
          user-select: none;

  background: none;
}
.container::selection{
  background: none;
  user-select: none;
}



.language, .colors,#optFeed
 {
  display: flex;
  flex-direction: column;
}


.color-option {
margin-bottom: 4px;



#contenscroll{

}





        }
